.card {
  background-color: #f8fafc;
  border: 0.5px solid var(--color-blue-100);
  border-radius: 12px;
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 100%;
  max-width: 313px;
}

.card.responsive {
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.label {
  font-family: var(--font-title);
  font-size: 12px;
  font-weight: 400;
  color: var(--color-gray-500);
  line-height: 1.1;
}

.divider {
  width: 100%;
  height: 0;
  /* border-bottom: 0.5px solid var(--color-gray-300); */
  transform: rotate(270deg);
  transform-origin: center;
}

.titleContainer {
  padding: 0 16px;
  width: 100%;
  height: 76px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 700;
  color: var(--color-body);
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.button {
  width: 285px;
  text-transform: uppercase;
}

/* Responsive */
@media (max-width: 768px) {
  .card.responsive {
    max-width: 328px;
  }

  .title {
    font-size: 14px;
  }
}
